<footer class="bg-black text-gray-300 flex flex-col justify-center pb-4 items-center bottom-0 w-full z-40">
    <div class="flex">
        <p class="py-7 px-[40rem] text-[11px] text-center">
            ¹ Tesla Boost es válido para pedidos personalizados y vehículos Model 3 Tracción trasera y Model Y Tracción trasera preconfigurados (excluyendo Model Y Tracción trasera Gran autonomía), pedidos a partir del 15 de julio y sujetos a entrega hasta el 30 de septiembre de 2024 inclusive. Si la entrega no se realiza antes de esta fecha, el Tesla Boost no se aplicará a su pedido. Si el momento de entrega se pospone debido a circunstancias bajo el control de Tesla, podría tener derecho al interés de la campaña al recibir la entrega en la primera fecha disponible. Los vehículos usados o de ocasión certificados están excluidos de esta oferta. Esta oferta es válida por tiempo limitado y puede ser cancelada en cualquier momento. Los precios indicados incluyen la aplicación del incentivo gubernamental de movilidad de 4500 €, la subvención de 2500 € por el desguace de su vehículo, el incentivo Moves de 1210 € para individuos que compren un vehículo eléctrico, una deducción del 15 % en el Impuesto sobre la Renta de las Personas físicas y nuestra reducción de precio Tesla Boost de 3290 €. Tenga en cuenta que todas las subvenciones gubernamentales y deducciones fiscales están sujetas a aprobación y pueden no estar disponibles en su área. Consulte las condiciones del plan de incentivos MOVESIII en la web. El incentivo se muestra en el contrato del vehículo como "referral bonus".
        </p>
    </div>

    <nav class="flex">
        <ul class="flex text-[11px] font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
            <li><a href="#">Tesla © 2024</a></li>
            <li><a href="#">Privacidad y legal</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Seguir informado</a></li>
            <li><a href="#">Localizador de tiendas</a></li>
        </ul>
    </nav>
</footer>